<button id="hide-all-labels">Hide all</button>
<canvas id="budget-chart" width="1600" height="600"></canvas>

<br><br>
<table id="untagged-transactions">

</table>

<script>
  window.onload = function() {
    initChart();
    initUntaggedTransactions();
  };
</script>