<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
    <tr>
      <th><%= tag['name'] %></th>
      <th><a href="/tags/<%= tag['id'] %>/delete" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a></th>
    </tr>
    <% end %>
  </tbody>
</table>