<a class="btn btn-primary m-2" href="/rules/new" role="button">Add rule</a>
<a class="btn btn-primary m-2" href="#" onclick="analyseTransactions();" role="button">Analyse</a>

<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">Tag</th>
    <th scope="col">Pattern</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <% rules.each do |rule| %>
    <tr>
      <th><%= rule['tag_name'] %></th>
      <th><%= rule['pattern'] %></th>
      <th><a href="/rules/<%= rule['id'] %>/delete" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a></th>
    </tr>
    <% end %>
  </tbody>
</table>